* {
  margin: 0;
  padding: 0%;
  /* font-size: 2rem; */
  font-family: "poppins", sans-serif;
}

nav {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;

  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 3px 3px 3px gray;
}

.hero {
  display: flex;
  flex-direction: column;
}

section {
  padding: 20px;
}
.hero-photo {
  max-width: 400px;
  align-self: center;
}

.hero-header {
  margin-bottom: 16px;
}
.hero-text {
  margin-top: 5px;
}
.card {
  max-width: 175px;
  font-size: 1rem;
  border: 1px solid black;
  align-self: center;
  margin-left: 20px;
}
.card-img {
  width: 100%;
  border-radius: 9px;
}
.card-stats {
  display: flex;
  align-items: center;
}
.gray {
  color: #918e9b;
}
.bold {
  font-weight: bold;
}
